*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* font-family: sans-serif; */
}
body{
    background-color: #f5f4f4;
}
.menu_bar{
    background-color: white;
    color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
.menu_bar button{
    display: none;
}
.secondmenu{
    display: none;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #DFA974;
    color: white;
    cursor: pointer;
    padding: 17px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}
.logo{
    font-size: 40px;
    font-family: "Sofia", sans-serif;
}
.menu_bar ul{
    display: flex;
    list-style: none;
}
.menu_bar ul li{
    position: relative;
    padding: 20px 30px;
}
.menu_bar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding-bottom: 5px;
    transition: 0.3s;
}
.menu_bar ul li a:hover{
    border-bottom: 3px solid #DFA974;
}
.dropdown{
    display: none;
}
.menu_bar ul li:hover .dropdown{
    position: absolute;
    display: block;
    left: 0;
    top: 100%;
    transition: 0,3s;
    background-color: white;
    z-index: 999;
}
.menu_bar ul li:hover .dropdown ul{
    display: block;
    margin: 10px;
}
.menu_bar ul li:hover .dropdown ul li{
    width: 150px;
    padding: 10px;
    /* color: #DFA974; */
}
.contactbody{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 50px;
    padding: 80px 100px;
    background-color: white;
    margin-top: 20px;
}
.cbde{
    display: flex;
    gap: 20px;
    line-height: 30px;
    /* font-size: 20px; */
}
.cb1 p{
    margin: 10px 0px;
    font-size: 20px;
    color: #bdb2ce;
}
.cb1 h1{
    font-size: 60px;
    font-weight: 400;
    margin: 20px 0px;
}
.cbdet2 p{
    color: black;
}
form{
    padding: 30px 0px;
}
form input{
    margin-bottom: 20px;
}
input[type=text]{
    padding: 20px 30px;
    font-size: 15px;
    margin-right: 20px;
    width: 230px;
    border: 1px solid #bdb2ce;
}
input[type=email]{
    padding: 20px 30px;
    font-size: 15px;
    /* margin-right: 30px; */
    width: 230px;
    border: 1px solid #bdb2ce;
}
textarea{
    width: 570px;
    height: 200px;
    resize: none;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #bdb2ce;
}
input[type=submit]{
    border: 1px solid #DFA974;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 700;
    background-color: #DFA974;
    letter-spacing: 2px;
    color: white;
}

.map p{
    padding: 40px 50px;
    background-color: white;
}
.map b,h6,h5,span{
    display: none;
}
.footersection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background-color:#222736;
    color: #aaaaaf;
}
.footercont1{
    line-height: 30px;
    font-size: 19px;
}
.footercont1 h3{
    font-size: 30px;
    font-family: "Sofia", sans-serif;
    margin-bottom: 20px;
    color: white;
}
.footicons i{
    border: 1px solid #DFA974;
    border-radius: 50%;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 15px;
    margin: 20px 3px;
    transition: 0.3s;
}
.footicons i:hover{
    background-color: #DFA974;
}
.footercont2{
    line-height: 30px;
    font-size: 19px;
}
.footercont2 h3{
    font-size: 15px;
    letter-spacing: 4px;
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    font-weight: 500px;
    color: #DFA974;
}
.footercont3{
    line-height: 30px;
    font-size: 19px;
}
.footercont3 h3{
    font-size: 15px;
    letter-spacing: 4px;
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
    font-weight: 500px;
    color: #DFA974;
}
.footercont3 input{
    background-color: #393d4a;
    border: none;
    padding: 10px;
    margin-top: 30px;
}
.footercont3 i{
    color: white;
    padding: 10px;
    border: 1px solid #DFA974;
    background-color: #DFA974;
}
.endsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1e2331;
    padding: 30px 60px 60px 60px;
}
.endcont1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 17px;
}
.endcont1 a{
    text-decoration: none;
    color: #aaaaaf;
}
.endcont2{
    display: flex;
    flex-wrap: wrap;
    color: #aaaaaf;
}
@media (min-width:320px) and (max-width:480px){
    .menu_bar {
        background-color: white;
        color: black;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;
    }

    .menu_bar button {
        display: block;
        background-color: white;
        font-size: 20px;
        padding: 2px;
    }

    .menu_bar button {
        border: none;
    }

    .logo {
        font-size: 40px;
        font-family: "Sofia", sans-serif;
    }

    .menu_bar ul {
        display: none;
    }

    .secondmenu {
        z-index: 999;
        position: absolute;
        width: 100%;
    }

    .secondmenu ol li {
        position: relative;
        padding: 20px 30px;
        background-color: white;
    }

    .secondmenu ol li a {
        text-decoration: none;
        color: black;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 100px;
        z-index: 1;
    }

    .dropdown-content li {
        list-style-type: none;

    }

    .dropdown-content a {
        color: black;
        padding: 0;
        text-decoration: none;
        display: block;
        text-decoration: none;
    }

    .dropbtn {
        background-color: white;
        border: none;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #DFA974;
        color: white;
        cursor: pointer;
        padding: 17px;
        border-radius: 4px;
    }

    #myBtn:hover {
        background-color: #555;
    }

    .contactbody{
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 80px 40px;
        background-color: white;
        margin-top: 20px;
    }
    .cbde{
        display: flex;
        gap: 20px;
        line-height: 30px;
        /* font-size: 20px; */
    }
    .cb1 p{
        margin: 10px 0px;
        font-size: 15px;
        color: #bdb2ce;
    }
    .cb1 h1{
        font-size: 40px;
        font-weight: 400;
        margin: 10px 0px;
    }
    .cbdet2 p{
        color: black;
    }
    form input{
        display: flex;
    }
    input[type=text]{
        padding: 20px 15px;
        font-size: 13px;
        margin-right: 20px;
        width: 200px;
        border: 1px solid #bdb2ce;
    }
    input[type=email]{
        padding: 20px 15px;
        font-size: 13px;
        /* margin-right: 30px; */
        width: 200px;
        border: 1px solid #bdb2ce;
    }
    textarea{
        width: 200px;
        height: 200px;
        resize: none;
        margin-bottom: 30px;
        padding: 15px;
        border: 1px solid #bdb2ce;
    }
    input[type=submit]{
        border: 1px solid #DFA974;
        padding: 15px;
        font-size: 10px;
        font-weight: 700;
        background-color: #DFA974;
        letter-spacing: 2px;
        color: white;
    }
    .map p{
        display: none;
    }
    .footersection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px;
        background-color:#222736;
        color: #aaaaaf;
    }
    .footercont1{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont1 h3{
        font-size: 30px;
        font-family: "Sofia", sans-serif;
        margin-bottom: 20px;
        color: white;
    }
    .footicons i{
        border: 1px solid #DFA974;
        border-radius: 50%;
        padding: 10px;
        color: white;
        text-align: center;
        font-size: 15px;
        margin: 20px 3px;
        transition: 0.3s;
    }
    .footicons i:hover{
        background-color: #DFA974;
    }
    .footercont2{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont2 h3{
        font-size: 15px;
        letter-spacing: 4px;
        font-family: 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
        font-weight: 500px;
        color: #DFA974;
    }
    .footercont3{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont3 h3{
        font-size: 15px;
        letter-spacing: 4px;
        font-family: 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
        font-weight: 500px;
        color: #DFA974;
    }
    .footercont3 input{
        background-color: #393d4a;
        border: none;
        padding: 15px 9px;
        margin-top: 30px;
    }
    .footercont3 i{
        color: white;
        padding: 10px;
        border: 1px solid #DFA974;
        background-color: #DFA974;
    }
    .endsection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        background-color: #1e2331;
        padding: 30px 30px 30px 30px;
    }
    .endcont1{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        font-size: 17px;
    }
    .endcont1 a{
        text-decoration: none;
        color: #aaaaaf;
    }
    .endcont2{
        display: flex;
        flex-wrap: wrap;
        color: #aaaaaf;
    }
}
@media (min-width:481px) and (max-width:768px){
    .menu_bar {
        background-color: white;
        color: black;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 25px;
    }

    .menu_bar button {
        display: block;
        background-color: white;
        font-size: 27px;
        padding: 2px;
    }

    .menu_bar button {
        border: none;
    }

    .logo {
        font-size: 45px;
        font-family: "Sofia", sans-serif;
    }

    .menu_bar ul {
        display: none;
    }

    .secondmenu {
        z-index: 999;
        position: absolute;
        width: 100%;
    }

    .secondmenu ol li {
        position: relative;
        padding: 20px 30px;
        background-color: white;
    }

    .secondmenu ol li a {
        text-decoration: none;
        font-size: 25px;
        color: black;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 100px;
        z-index: 1;
    }

    .dropdown-content li {
        list-style-type: none;

    }

    .dropdown-content a {
        color: black;
        padding: 0;
        text-decoration: none;
        display: block;
        text-decoration: none;
        font-size: 20px;
    }

    .dropbtn {
        background-color: white;
        border: none;
        font-size: 24px;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #DFA974;
        color: white;
        cursor: pointer;
        padding: 17px;
        border-radius: 4px;
    }

    #myBtn:hover {
        background-color: #555;
    }
    .contactbody{
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        padding: 80px 40px;
        background-color: white;
        margin-top: 20px;
    }
    .cbde{
        display: flex;
        gap: 20px;
        line-height: 30px;
        /* font-size: 20px; */
    }
    .cb1 p{
        margin: 10px 0px;
        font-size: 15px;
        color: #bdb2ce;
    }
    .cb1 h1{
        font-size: 40px;
        font-weight: 400;
        margin: 10px 0px;
    }
    .cbdet2 p{
        color: black;
    }
    form input{
        display: flex;
    }
    input[type=text]{
        padding: 20px 15px;
        font-size: 13px;
        margin-right: 0px;
        width: 380px;
        border: 1px solid #bdb2ce;
    }
    input[type=email]{
        padding: 20px 15px;
        font-size: 13px;
        /* margin-right: 30px; */
        width: 380px;
        border: 1px solid #bdb2ce;
    }
    textarea{
        width: 380px;
        height: 200px;
        resize: none;
        margin-bottom: 30px;
        padding: 15px;
        border: 1px solid #bdb2ce;
    }
    input[type=submit]{
        border: 1px solid #DFA974;
        padding: 15px;
        font-size: 10px;
        font-weight: 700;
        background-color: #DFA974;
        letter-spacing: 2px;
        color: white;
    }
    .map p{
        display: none;
    }
    .map b{
        display: none;
    }
    .map h6{
        padding-left: 15px;
        padding-bottom: 40px;
        background-color: white;
        display: block;
    }
    .map h5{
        display: none;
    }
    .map span{
        display: none;
    }
    .footersection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px;
        background-color:#222736;
        color: #aaaaaf;
    }
    .footercont1{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont1 h3{
        font-size: 30px;
        font-family: "Sofia", sans-serif;
        margin-bottom: 20px;
        color: white;
    }
    .footicons i{
        border: 1px solid #DFA974;
        border-radius: 50%;
        padding: 10px;
        color: white;
        text-align: center;
        font-size: 15px;
        margin: 20px 3px;
        transition: 0.3s;
    }
    .footicons i:hover{
        background-color: #DFA974;
    }
    .footercont2{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont2 h3{
        font-size: 15px;
        letter-spacing: 4px;
        font-family: 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
        font-weight: 500px;
        color: #DFA974;
    }
    .footercont3{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont3 h3{
        font-size: 15px;
        letter-spacing: 4px;
        font-family: 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
        font-weight: 500px;
        color: #DFA974;
    }
    .footercont3 input{
        background-color: #393d4a;
        border: none;
        padding: 15px 9px;
        margin-top: 30px;
        width: 50%;
    }
    .footercont3 i{
        color: white;
        padding: 10px;
        border: 1px solid #DFA974;
        background-color: #DFA974;
    }
    .endsection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        background-color: #1e2331;
        padding: 30px 30px 30px 30px;
    }
    .endcont1{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        font-size: 17px;
    }
    .endcont1 a{
        text-decoration: none;
        color: #aaaaaf;
    }
    .endcont2{
        display: flex;
        flex-wrap: wrap;
        color: #aaaaaf;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .menu_bar {
        background-color: white;
        color: black;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .menu_bar button {
        display: block;
        background-color: white;
        font-size: 35px;
        padding: 2px;
    }

    .menu_bar button {
        border: none;
    }

    .logo {
        font-size: 50px;
        font-family: "Sofia", sans-serif;
    }

    .menu_bar ul {
        display: none;
    }

    .secondmenu {
        z-index: 999;
        position: absolute;
        width: 100%;
    }

    .secondmenu ol li {
        position: relative;
        padding: 20px 30px;
        background-color: white;
    }

    .secondmenu ol li a {
        text-decoration: none;
        font-size: 34px;
        color: black;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 100px;
        z-index: 1;
    }

    .dropdown-content li {
        list-style-type: none;

    }

    .dropdown-content a {
        color: black;
        padding: 0;
        text-decoration: none;
        display: block;
        text-decoration: none;
        font-size: 20px;
    }

    .dropbtn {
        background-color: white;
        border: none;
        font-size: 34px;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #DFA974;
        color: white;
        cursor: pointer;
        padding: 17px;
        border-radius: 4px;
    }

    #myBtn:hover {
        background-color: #555;
    }
    .contactbody{
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        padding: 80px 40px;
        background-color: white;
        margin-top: 20px;
    }
    .cbde{
        display: flex;
        gap: 20px;
        line-height: 30px;
        /* font-size: 20px; */
    }
    .cb1 p{
        margin: 10px 0px;
        font-size: 20px;
        color: #bdb2ce;
    }
    .cb1 h1{
        font-size: 50px;
        font-weight: 400;
        margin: 10px 0px;
    }
    .cbdet2 p{
        color: black;
    }
    form input{
        display: flex;
    }
    input[type=text]{
        padding: 20px 15px;
        font-size: 13px;
        margin-right: 0px;
        width: 660px;
        border: 1px solid #bdb2ce;
    }
    input[type=email]{
        padding: 20px 15px;
        font-size: 13px;
        /* margin-right: 30px; */
        width: 660px;
        border: 1px solid #bdb2ce;
    }
    textarea{
        width: 660px;
        height: 200px;
        resize: none;
        margin-bottom: 30px;
        padding: 15px;
        border: 1px solid #bdb2ce;
    }
    input[type=submit]{
        border: 1px solid #DFA974;
        padding: 15px;
        font-size: 15px;
        font-weight: 700;
        background-color: #DFA974;
        letter-spacing: 2px;
        color: white;
    }
    .map p{
        display: none;
    }
    .map b{
        display: none;
    }
    .map h6{
        display: none;
    }
    .map span{
        padding-left: 20px;
        padding-bottom: 40px;
        background-color: white;
        display: block;
    }
    .map h5{
        display: none;
    }
    .footersection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px;
        background-color:#222736;
        color: #aaaaaf;
    }
    .footercont1{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont1 h3{
        font-size: 30px;
        font-family: "Sofia", sans-serif;
        margin-bottom: 20px;
        color: white;
    }
    .footicons i{
        border: 1px solid #DFA974;
        border-radius: 50%;
        padding: 10px;
        color: white;
        text-align: center;
        font-size: 15px;
        margin: 20px 3px;
        transition: 0.3s;
    }
    .footicons i:hover{
        background-color: #DFA974;
    }
    .footercont2{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont2 h3{
        font-size: 15px;
        letter-spacing: 4px;
        font-family: 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
        font-weight: 500px;
        color: #DFA974;
    }
    .footercont3{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont3 h3{
        font-size: 15px;
        letter-spacing: 4px;
        font-family: 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
        font-weight: 500px;
        color: #DFA974;
    }
    .footercont3 input{
        background-color: #393d4a;
        border: none;
        padding: 15px 9px;
        margin-top: 30px;
        width: 50%;
    }
    .footercont3 i{
        color: white;
        padding: 10px;
        border: 1px solid #DFA974;
        background-color: #DFA974;
    }
    .endsection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
        background-color: #1e2331;
        padding: 30px 30px 30px 30px;
    }
    .endcont1{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        font-size: 17px;
    }
    .endcont1 a{
        text-decoration: none;
        color: #aaaaaf;
    }
    .endcont2{
        display: flex;
        flex-wrap: wrap;
        color: #aaaaaf;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    body{
        background-color: #f5f4f4;
    }
    .menu_bar{
        background-color: white;
        color: black;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;
    }
    .menu_bar button{
        display: none;
    }
    .secondmenu{
        display: none;
    }
    .logo{
        font-size: 40px;
        font-family: "Sofia", sans-serif;
    }
    .menu_bar ul{
        display: flex;
        list-style: none;
    }
    .menu_bar ul li{
        position: relative;
        padding: 20px 30px;
    }
    .menu_bar ul li a{
        text-decoration: none;
        font-size: 20px;
        color: black;
        padding-bottom: 5px;
        transition: 0.3s;
    }
    .menu_bar ul li a:hover{
        border-bottom: 3px solid #DFA974;
    }
    .dropdown{
        display: none;
    }
    .menu_bar ul li:hover .dropdown{
        position: absolute;
        display: block;
        left: 0;
        top: 100%;
        transition: 0,3s;
        background-color: white;
        z-index: 999;
    }
    .menu_bar ul li:hover .dropdown ul{
        display: block;
        margin: 10px;
    }
    .menu_bar ul li:hover .dropdown ul li{
        width: 150px;
        padding: 10px;
        /* color: #DFA974; */
    }
    .contactbody{
        display: flex;
        /* flex-wrap: wrap; */
        gap: 50px;
        padding: 80px 10px;
        background-color: white;
        margin-top: 20px;
    }
    .cbde{
        display: flex;
        gap: 20px;
        line-height: 30px;
        /* font-size: 20px; */
    }
    .cb1 p{
        margin: 10px 0px;
        font-size: 20px;
        color: #bdb2ce;
    }
    .cb1 h1{
        font-size: 60px;
        font-weight: 400;
        margin: 20px 0px;
    }
    .cbdet2 p{
        color: black;
    }
    form{
        padding: 30px 0px;
    }
    form input{
        margin-bottom: 20px;
    }
    input[type=text]{
        padding: 20px 30px;
        font-size: 15px;
        margin-right: 20px;
        width: 230px;
        border: 1px solid #bdb2ce;
    }
    input[type=email]{
        padding: 20px 30px;
        font-size: 15px;
        /* margin-right: 30px; */
        width: 230px;
        border: 1px solid #bdb2ce;
    }
    textarea{
        width: 570px;
        height: 200px;
        resize: none;
        margin-bottom: 30px;
        padding: 20px;
        border: 1px solid #bdb2ce;
    }
    input[type=submit]{
        border: 1px solid #DFA974;
        padding: 15px 30px;
        font-size: 13px;
        font-weight: 700;
        background-color: #DFA974;
        letter-spacing: 2px;
        color: white;
    }
    
    .map h5{
        padding: 40px 40px;
        background-color: white;
    }
    .map p{
        display: none;
    }
    .map b{
        display: none;
    }
    .map h6{
        display: none;
    }
    .map span{
        display: none;
    }
    .footersection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 60px;
        background-color:#222736;
        color: #aaaaaf;
    }
    .footercont1{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont1 h3{
        font-size: 30px;
        font-family: "Sofia", sans-serif;
        margin-bottom: 20px;
        color: white;
    }
    .footicons i{
        border: 1px solid #DFA974;
        border-radius: 50%;
        padding: 10px;
        color: white;
        text-align: center;
        font-size: 15px;
        margin: 20px 3px;
        transition: 0.3s;
    }
    .footicons i:hover{
        background-color: #DFA974;
    }
    .footercont2{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont2 h3{
        font-size: 15px;
        letter-spacing: 4px;
        font-family: 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
        font-weight: 500px;
        color: #DFA974;
    }
    .footercont3{
        line-height: 30px;
        font-size: 19px;
    }
    .footercont3 h3{
        font-size: 15px;
        letter-spacing: 4px;
        font-family: 'Trebuchet MS', sans-serif;
        margin-bottom: 20px;
        font-weight: 500px;
        color: #DFA974;
    }
    .footercont3 input{
        background-color: #393d4a;
        border: none;
        padding: 10px;
        margin-top: 30px;
    }
    .footercont3 i{
        color: white;
        padding: 10px;
        border: 1px solid #DFA974;
        background-color: #DFA974;
    }
    .endsection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #1e2331;
        padding: 30px 60px 60px 60px;
    }
    .endcont1{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        font-size: 17px;
    }
    .endcont1 a{
        text-decoration: none;
        color: #aaaaaf;
    }
    .endcont2{
        display: flex;
        flex-wrap: wrap;
        color: #aaaaaf;
    }
}